<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568034052749-6bf7h2277q0r7t0vfij4dbe49vqfqr1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568034052749-6bf7h2277q0r7t0vfij4dbe49vqfqr1t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>568034052749-j62coe328ini243k02njvdqkveok7ji5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDcX_GIPvpowxhtAFY6C7hhvJHvdwxiUpY</string>
	<key>GCM_SENDER_ID</key>
	<string>568034052749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.playfitness</string>
	<key>PROJECT_ID</key>
	<string>faster-workouts-ae845</string>
	<key>STORAGE_BUCKET</key>
	<string>faster-workouts-ae845.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568034052749:ios:131854b457b1793713b0c4</string>
</dict>
</plist>